.navbar-static-top{
            background-color: #B3E7D4;
            border-color: #E7B3BC;
        }
        .btn{
            background-color: #B3E7D4;
        }
        .col-md-10{
            background-color: #98AB8F;
        }
        .panel-heading{
            background-color: #847F89;
        }